<style>

    button {
        /*Text Settings*/
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        font: bold 12pt 'Open Sans', Helvetica, Arial, sans-serif;
        color: #6e6e6e;

        /*Appearance*/
        padding: 8px 12px;
        display: inline-block;
        transition: border-color .218s;
        cursor: pointer;

        background: #f3f3f3;
        background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
        background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
        outline: none;

        /*Border Settings*/
        border: solid 1px #dcdcdc;
        border-radius: 2px;
        margin: 5px 5px 10px 0;
    }

    button:hover, button:focus {
        color: #333;
        border-color: #999;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    }

    button:active {
        color: #000;
        border-color: #444;
    }

    button[disabled] {
        background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#A5A5A5), to(#A1A1A1));
        background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
        text-shadow: none;
    }

    button[disabled]:hover {
        color: #6e6e6e;
        border: solid 1px #dcdcdc;
        box-shadow: none;

        cursor: default;
    }

</style>

<button #button>
    <ng-content></ng-content>
</button>