<h1> Test Page</h1>
<p>
    This is a test page to see your component in action. <br>
    When using this component in another project, only the stuff in lib will be imported
</p>

<bn-smooth-button> Normal Button</bn-smooth-button>
<bn-smooth-button disabled> Disabled Button</bn-smooth-button>
